



<body>
     

    <div id="image-container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <div id="form-container">
    
  <form  method="post"  action="{% url 're' %}">
    {% csrf_token %}
  
    <h1><b>REGISTRATION FORM</b></h1>

                {% if messages %}
                    <div class="col-12">
                        {% for message in messages %}
                            {% if message.tags == "error" %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                     style="margin-top: 10px;">
                                    {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

    <fieldset>
     <div class="container">
       
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name">
      
      <label for="mail">Email:</label>
      <input type="email" id="mail" name="user_email">
      
      <label for="mobile_number">Mobile Number:</label>
      <input type="tel" id="mobile_number" name="user_mobile_number">

      
      

    <label for="dob">Date Of Birth:</label>
    <input type="date" id="dob" name="user_dob"> 
    

    <label for="standard"> Select Standard:</label>
    <div class="form-group">
      <select name="standard" class="form-control">
          <option value="none" selected="" disabled="">Standard</option>
          <option value="0">1-4</option>
          <option value="1">5-7</option>
          <option value="2">8-10</option>
          <option value="3">+1 Science</option>
          <option value="4">+2 science</option>
          <option value="5">+1 Commerce</option>
          <option value="6">+2 Commerce</option>
          <option value="7">B.com/ M.com</option>
          <option value="8">Civil Engineering</option>
          <option value="9">Mechanical Engineering</option>
          <option value="10">Electrical&Electronics Engineering</option>
          <option value="11">Computer Science Engineering</option>

      </select>
  </div>
    </fieldset>
    <button>Sign Up</button>
  </form>
 </div>
 </div>
  
</body>
</html>

<style>

    #image-container {
        height: 1000;
        background: url("static/publicapp/images/slider_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    #form-container {
        width:500px;
        height: 250px;
        margin: 30px auto 0 auto;
        opacity: .7;
     }
    

*, *:before, *:after {
    -moz-box-sizing:padding-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    box-shadow: #000000;
    
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  .bg {
    
    background-image: url("rgbg.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background:#f4f7f8;
    border-radius: 15px;
    border-color:#f7d410;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
    color: #f7d410;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: #ffffff;
    
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color:white;
    color: #f7d410;
    box-shadow: 0 1px 0 #ffff inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #f7d410;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #f7d410;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 #f7d410 inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #000000;

  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }

   
</style>
