<div class="x_panel">
    <div class="x_title">
      <h2 style="text-transform: uppercase;"> registered punchayat</h2>
     
      <div class="clearfix"></div>
    </div>

    <div class="x_content">

    
      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings" style="text-transform: uppercase;">
              <th class="column-title">si no</th>
              <th class="column-title">name </th>
              <th class="column-title">post </th>
              <th class="column-title">pincode </th>
              <!-- <th class="column-title">address </th> -->
          <!--     <th class="column-title">district </th>
              <th class="column-title">Block‌ </th>
              <th class="column-title">Area </th>
              <th class="column-title">Localbody Code </th>
              <th class="column-title">No of Wards </th>
              <th class="column-title">President </th> -->
              <th class="column-title">photo </th>
              <th class="column-title">email </th>
              <!-- <th class="column-title">password </th> -->
              <th class="column-title no-link last"><span class="nobr">Action</span></th>
               <th class="column-title no-link last"><span class="nobr">View more</span></th>
             
            </tr>
          </thead>
          <tbody>
          
            <tr class="even pointer">
        
<td class=" ">1</td>
<td class=" ">Elavally Grama Panchayat </td>
<td class=" ">Chittattukara </td>
<td class=" ">680511 </td>

<td class=" "><img style="width: 100px;height: 100px" src="http://localhost/Smart_Start/Assets/PANCHAYATH/register/photos/1572502675.png"> </td>
<td class=" ">elevally@punchayat.com </td>
<td class="a-right a-right "><form method="POST" action="http://localhost/Smart_Start/Cdpo/approve_request">
<input type="hidden" name="id" value="2">
<input type="hidden" name="h_email" value="elevally@punchayat.com">
<input type="hidden" name="rnum" value="mliHIgUgYT">
<input type="submit" style="padding-left: 17px;border-style: none; background-color: green;padding-top: 11px;padding-right: 20px;color: white;padding-bottom: 12px;margin-left: -12px;" value="Approved">
</form>
</td>
<td class="a-right a-right "><a href="http://localhost/Smart_Start/Cdpo/view_more_punchayat/2">View more</a></td>

            </tr>
           
            <tr class="even pointer">
        
<td class=" ">2</td>
<td class=" ">avinissery </td>
<td class=" ">ollur </td>
<td class=" ">650213 </td>

<td class=" "><img style="width: 100px;height: 100px" src="http://localhost/Smart_Start/Assets/PANCHAYATH/register/photos/1575275810.jpg"> </td>
<td class=" ">anuvargheseann9@gmail.com </td>
<td class="a-right a-right "><form method="POST" action="http://localhost/Smart_Start/Cdpo/approve_request">
<input type="hidden" name="id" value="3">
<input type="hidden" name="h_email" value="anuvargheseann9@gmail.com">
<input type="hidden" name="rnum" value="mliHIgUgYT">
<input type="submit" style="padding-left: 17px;border-style: none; background-color: green;padding-top: 11px;padding-right: 20px;color: white;padding-bottom: 12px;margin-left: -12px;" value="Approved">
</form>
</td>
<td class="a-right a-right "><a href="http://localhost/Smart_Start/Cdpo/view_more_punchayat/3">View more</a></td>

            </tr>
           
            <tr class="even pointer">
        
<td class=" ">3</td>
<td class=" ">dfgdd </td>
<td class=" ">dfds </td>
<td class=" ">34234 </td>

<td class=" "><img style="width: 100px;height: 100px" src="http://localhost/Smart_Start/Assets/PANCHAYATH/register/photos/1577526780.jpg"> </td>
<td class=" ">sa@gmail.com </td>
<td class="a-right a-right "><form method="POST" action="http://localhost/Smart_Start/Cdpo/approve_request">
<input type="hidden" name="id" value="5">
<input type="hidden" name="h_email" value="sa@gmail.com">
<input type="hidden" name="rnum" value="mliHIgUgYT">
<input type="submit" style="padding-left: 17px;border-style: none; background-color: green;padding-top: 11px;padding-right: 20px;color: white;padding-bottom: 12px;margin-left: -12px;" value="Approved">
</form>
</td>
<td class="a-right a-right "><a href="http://localhost/Smart_Start/Cdpo/view_more_punchayat/5">View more</a></td>

            </tr>
                                   </tbody>
        </table>
      </div>
              
          
    </div>
  </div>